@import url("https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.page-header {
  background-color: #3c096c;
  padding: 1rem;
}

.back-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 1rem 0;
}

.intro-heading {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro-desc {
  width: 100%;
  color: #3c096c;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  padding: 5px 0;
  background: linear-gradient(
    270deg,
    rgba(251, 234, 224, 0) 0%,
    #fbeae0 19.82%,
    #fbeae0 49.66%,
    #fbeae0 79.78%,
    rgba(251, 234, 224, 0) 100%
  );
}

.working-steps-wrapper {
  margin: 0 1rem;
}

.section-heading {
  font-weight: 600;
  text-align: center;
  margin: 3rem 0 2rem;
}

.step-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 22px;
  background: linear-gradient(
    270deg,
    rgba(246, 216, 255, 0) 11.26%,
    #f6d8ff 100%
  );
}

.step-num-outer-div {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  border: 1px solid #8c47cd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-left: -22px;
}

.step-num-inner-div {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  border: 1px solid #8c47cd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(246, 216, 255, 0) 11.26%,
    #f6d8ff 100%
  );
}

.step-number {
  font-size: 20px;
  font-weight: 800;
  color: #8c47cd;
}

.step-desc {
  font-size: 12px;
  font-weight: 500;
  max-width: 250px;
}

.prize-pool-card {
  margin: 1rem;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 15px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #6c757d;
}

.power-player-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.power-player-text {
  width: fit-content;
  background-image: linear-gradient(270deg, #e4192e 4.55%, #df7b18 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-main-content {
  margin: 10px 0;
}

.progress-bar-wrapper {
  width: 100%;
  height: 5px;
  margin: 10px 0;
}

.progress-bar-bg {
  width: 100%;
  height: 5px;
  background: #ffdfe0;
  border-radius: 10px;
  position: relative;
}

.progress-bar {
  width: 12%;
  height: 5px;
  background: linear-gradient(270deg, #e4192e 4.55%, #df7b18 100%);
  border-radius: 10px;
  position: absolute;
}

.card-main-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-pool-amount {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.price-btn {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #9d4edd;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
}

.spots-left-text {
  font-size: 12px;
  color: #d13537;
  font-weight: 500;
}

.total-spots-text {
  font-size: 12px;
  color: #6c757d;
  font-weight: 500;
}

.card-footer {
  font-size: 12px;
  color: #6c757d;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.players-container {
  margin: 2rem 1rem;
}

.players-main-wrapper {
  background: #4e54dd;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.players-main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.players-main-header-left-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.power-players-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.time-left {
  color: #ff9811;
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
}

.rules-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 12px;
}

.header-desc-text {
  color: #adb5bd;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.priority-order {
  color: #adb5bd;
  background: #141866;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selected-wrapper {
  background: #e9ecef;
}

.selected-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}

.selected-header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.credits-text {
  color: #212529;
}

.selected-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ced4da;
}

.selected-added-player-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #08ad49;
  background: #edffdf;
  padding: 10px;
  border-radius: 10px;
}

.selected-player-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ced4da;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}

.selected-player-image-name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-image-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
}

.player-image-info-icon {
  position: absolute;
  top: 5px;
  left: 2px;
}

.player-image-country-tag {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.selected-player-name-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-player-name {
  color: #212529;
  font-size: 14px;
  font-weight: 600;
}

.sel-by-percent {
  color: #6c757d;
  font-size: 13px;
  font-weight: 600;
}

.last-played {
  color: #4e54dd;
  font-size: 12px;
  font-weight: 500;
}

.selected-player-right-side {
  display: flex;
  align-items: center;
}

.player-highest-number {
  color: #6c757d;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
}

.player-avg-number {
  color: #212529;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.types-buttons-wrapper {
  padding: 10px 10px 20px;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0px 0px 20px 20px;
}

.players-types-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c757d;
  font-size: 12px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.preview-btn {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: #212529;
  border: none;
  outline: none;
  border-radius: 10px;
}

.save-btn {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: #08ad49;
  border: none;
  outline: none;
  border-radius: 10px;
}

.things-to-note {
  font-size: 12px;
  font-weight: 500;
  margin-left: 1rem;
}

.things-note {
  margin-bottom: 1rem;
}

.notification-card {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  color: black;
  background: #ffefe2;
  border-radius: 10px;
  padding: 10px;
}

.example-header {
  width: 100%;
  margin-top: 2rem;
  padding: 20px 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #e4192e;
  background: linear-gradient(0deg, rgba(251, 234, 224, 0) 0%, #fde1e0 100%);
}

.example-heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.example-heading-two {
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  background-image: linear-gradient(360deg, #e4192e 0%, #df7b18 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.example-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 1rem;
  margin-top: -40px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
}

.example-content-inner {
  display: flex;
  gap: 15px;
}

.player-name {
  font-size: 14px;
  margin: 10px 0 5px;
}

.player-status {
  font-size: 14px;
  color: #6c757d;
}

.current-status {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid #e4192e;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
}

.table {
  margin: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.table-head-row {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #6c757d;
  padding: 0 1rem;
  border-top: 1px solid #e6e6e6;
}

.table-data-row {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #212529;
  padding: 0 1rem;
  border-top: 1px solid #e6e6e6;
}

.table-col {
  width: 33.33%;
  span {
    width: fit-content;
    font-weight: 700;
    background-image: linear-gradient(360deg, #e4192e 0%, #df7b18 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.table-col-last {
  width: 33.33%;
  text-align: end;
  span {
    width: fit-content;
    font-weight: 700;
    background-image: linear-gradient(360deg, #e4192e 0%, #df7b18 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.questions-wrapper {
  margin: 0 1rem 4rem;
}

.question-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 12px;
  position: relative;
}

.question {
  max-width: 250px;
}

.arrow-down {
  position: absolute;
  top: 17px;
  right: 12px;
}
